body{
  font-family:Arial;
  background-color:#f2f2f2;
}
.container{
  width:320px;
  margin:100px auto;
  background:white;
  border-radius:8px;
  box-shadow:0 0 10px gray;
}
h1{
  text-align:centre;
}
input{
  width:90%;
  padding:5px;
}
button{
  width:100%;
  margin-top:5px;
  padding:5px;
  background-color:#4CAF50;
  color:white;
  border:none;
}
li{
  list-style:none;
  marigin-top:8px;
  cursor:pointer:
}
